<section class="section hero">
  <div class="hero-inner"> 
    <h1>Sie habe eine Frage an uns? <br> Wir helfen Ihnen gerne weiter...</h1>
    {{search instant=true submit=false instant=settings.instant_search placeholder='Suche nach Antworten' class='search search-full'}}
  </div>
</section>

 <div class="container">
    <section class="section knowledge-base">
      <section class="categories blocks">
        <ul class="blocks-list">
         {{#each categories}}
            {{#is id 360000563640}}
              {{#each sections}}
                <li class="blocks-item">
                  <a href='{{url}}' class="blocks-item-link">
                    {{#is id 360000563640}}<img class="" src="{{asset 'info-icon.svg'}}" />{{/is}}
                    {{#is id 360003152239}}<img class="" src="{{asset 'icon-return.svg'}}" />{{/is}}
                    {{#is id 360003116460}}<img class="" src="{{asset 'icon-reklamation.svg'}}" />{{/is}}
                    {{#is id 360003152179}}<img class="" src="{{asset 'icon-products.svg'}}" />{{/is}}
                    {{#is id 360003152139}}<img class="" src="{{asset 'icon-payment.svg'}}" />{{/is}}
                    {{#is id 360003120760}}<img class="" src="{{asset 'icon-order.svg'}}" />{{/is}}
                    {{#is id 360003115520}}<img class="" src="{{asset 'icon-catalog.svg'}}" />{{/is}}
                    {{#is id 360003116020}}<img class="" src="{{asset 'icon-avatar.svg'}}" />{{/is}}
                    {{#is id 360003115200}}<img class="" src="{{asset 'icon-delivery.svg'}}" />{{/is}}
                    <h4 class="blocks-item-title">
                      {{name}}
                    </h4>
                    <p class="blocks-item-description">{{excerpt description}}</p>
                  </a>
               </li>
              {{/each}}
              {{/is}}
          {{/each}}
        </ul>
        {{pagination}}
      </section>

    {{#if promoted_articles}}
      <section class="articles">
        <h3>Oft gestellte Fragen</h3>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
                <a href="{{url}}">
                  {{title}}

                  {{#if internal}}
                    <span class="icon-lock" title="{{t 'internal'}}"></span>
                  {{/if}}
                </a>
           </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>
    <section class="section request">
    <div >
   

      <h2>Brauchen Sie weitere Hilfe?</h2>
       <a class="submit-a-request-help" href="/hc/de/requests/new">Kontaktieren Sie uns</a>

     
    </div>
   
  



  </section>

  {{#if help_center.community_enabled}}
    <section class="section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
  {{/if}}


  <section class="section activity">
    {{#if settings.show_recent_activity}}
      {{recent_activity}}
    {{/if}}
  </section>




</div>
