<div class="container-divider"></div>
<div class="container">
   <nav class="sub-nav">
      {{breadcrumbs}}
      {{search submit=false}}
   </nav>
   <h1>Kontaktieren Sie uns</h1>
   <section class="section knowledge-base">
      <section class="categories blocks">
         <div class="promoted-articles-block">
            <h2>Empfohlene Artikel</h2>
            <ul class="blocks-list">
               {{#each promoted_articles}}
               <li class="blocks-item">
                  <a href='{{url}}' class="blocks-item-link">
                     <h4 class="blocks-item-title">
                        {{title}}
                     </h4>
                  </a>
               </li>
               {{/each}}
            </ul>
         </div>
         <div class="request-block">
            <h2>Wie können wir helfen?</h2>
            <ul class="blocks-list">
               <li class="blocks-item-request border-right ">
                  <img class="" src="{{asset 'icon-email.svg'}}" />
                  <h4>Schreiben Sie uns eine Nachricht</h4>
                  <p>Jemand aus unserem Team wird sich so schnell wie möglich mit Ihnen in Verbindung setzen.</p>
                  <!-- <a class="submit-a-request" href="/hc/de/requests/new">Anfrage einreichen</a> -->
                  <a class="submit-a-request-filled" href="/hc/de/requests/new/#request-form">Nachricht schreiben</a>
               </li>
               <li class="blocks-item-request border-right ">
                  <img class="" src="{{asset 'icon-search.svg'}}" />
                  <h4>Hilfe-Center durchsuchen</h4>
                  <p>Holen Sie sich sofort Hilfe und finden Sie schnell Antworten auf die häufigsten Fragen.</p>
                  <!-- <a class="submit-a-request-filled" href="/hc/de/requests/new">Anfrage einreichen</a> -->
                  <a class="submit-a-request-filled" href="/hc/de">Hilfe-Center durchsuchen</a>
               </li>

            </ul>
            <a href="/hc/de/articles/360010115660-Kontakt">Weitere Kontaktmöglichkeiten</a>
            
         </div>
      </section>
   </section>
   <h2>
      {{t 'submit_a_request'}}
      {{#if follow_up}}
      <span class="follow-up-hint">
      {{follow_up}}
      </span>
      {{/if}}
   </h2>
   <div id="request-form" class="form">
      {{request_form}}
   </div>
</div>
