<div class="container-divider"></div>
<div class="container">
   <nav class="sub-nav">
      {{breadcrumbs}}
      {{search submit=false}}
   </nav>
   <h1>Kontaktieren Sie uns</h1>
   <section class="section knowledge-base">
      <section class="categories blocks">
         <div class="promoted-articles">
            <h3>Empfohlene Artikel</h3>
            <ul class="blocks-list">
               {{#each promoted_articles}}
               <li class="blocks-item">
                  <a href='{{url}}' class="blocks-item-link">
                     <h4 class="blocks-item-title">
                        {{title}}
                     </h4>
                  </a>
               </li>
               {{/each}}
            </ul>
         </div>
      </section>
   </section>
   <h2>
      {{t 'submit_a_request'}}
      {{#if follow_up}}
      <span class="follow-up-hint">
      {{follow_up}}
      </span>
      {{/if}}
   </h2>
   <div class="form">
      {{request_form}}
   </div>
</div>
